:root{
  --fuente: #555;
  --alertaOk: #578637;
  --activo: #461674;
  --sombrai: #34393f; /*inset*/
  --sombrao: #b1b1b1; /*offset*/
  }
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background: #27282c;
  background: -moz-linear-gradient(45deg,  #27282c 0%, #27282c 100%);
  background: -webkit-linear-gradient(45deg,  #27282c 0%,#27282c 100%);
  background: linear-gradient(45deg,  #27282c 0%,#27282c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#27282c', endColorstr='#27282c',GradientType=1 );
  min-height: 100vh;
}
.app{
  padding: 0;
  height: 100vh;
}
h1 {
  text-align: center;
  margin: 0;
  padding: 20px 0;
  font-weight: bold;
  font-size: 2.5rem;
}
.container {
  color: white;
  margin: 10 auto;
  padding: 20px;
  /* border: 1px solid black; */
  background: #34393f;
  background: -moz-linear-gradient(top,  #34393f 0%, #16171b 100%);
  background: -webkit-linear-gradient(top,  #34393f 0%,#16171b 100%);
  background: linear-gradient(to bottom,  #34393f 0%,#16171b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34393f', endColorstr='#16171b',GradientType=0 );
  min-height: 100%;
}
form, .mensajes {
  margin: 0 auto;
}
.mensaje {
  text-align: center;
  margin-bottom: 10px;
}
form label {
  font-size: 2rem;
}
input[type="submit"]{
  margin: 10px 0;
}

input[type="submit"]:disabled{
  background-color: yellow;
  opacity: .2;
  color: black;
}
.error {
  padding: 0;
  text-align: center;
  color:rgb(255, 200, 200);
  margin: 0;
}
.resultado {
  margin: 10px 0 0;
}
.resultado span{
  font-weight: 600;
}
.resultado p, 
.resultado h4,
.resultado h5 {
  margin: 0;
}
.resultado h4{
  border-bottom: solid #00b0d7 1px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  font-size: 23px;
}

.btn-submit .boton{
  box-shadow: 8px 8px 16px black,
  -8px -8px 16px var(--sombrai);   
  transition: 0.5s;
}

.btn-submit .boton{
  color: var(--sombrao);
}
.btn-submit .boton:hover{
  /* background-color: var(--sombrao); */
  background-color: var(--fuente);
  color: var(--sombrao);
  cursor: pointer;
}
.btn-submit .boton:focus{
  background-color: var(--fuente);
  color: var(--sombrao);
  outline: none;
}
.btn-submit .boton:active{
  color: var(--sombrao);
  outline: none;
  box-shadow: unset;
}

@media (min-width: 400px){
  .btn-submit{
    display: flex;
    justify-content: flex-end;
  }
  input[type="submit"]{
    width: fit-content;
  }
  .app{
    padding: 20px;
    height: fit-content;
  }
  .container{
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 8px 8px 16px black,
    -8px -8px 16px var(--sombrai);   
  }
}