:root{
  --tema1: #A41872;
  --tema2: #A445B2;
  --tema3: #FF0066;
  --fuente: #555;
  --alertaOk: #578637;
  --activo: #461674;
  /* neumorfismo: */
  --fondo: #ecf0f3;
  --sombrai: #34393f; /*inset*/
  --sombrao: #b1b1b1; /*offset*/
  /*Botones*/
  --btnOk: #24cfaa;
  --btnOkHover: #24dbb6;
  --btnError: #CC0001;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background: #27282c;
  background: -moz-linear-gradient(45deg,  #27282c 0%, #27282c 100%);
  background: -webkit-linear-gradient(45deg,  #27282c 0%,#27282c 100%);
  background: linear-gradient(45deg,  #27282c 0%,#27282c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#27282c', endColorstr='#27282c',GradientType=1 );
  min-height: 100vh;
}
.app{
  padding: 0;
}
h1 {
  text-align: center;
  margin: 0;
  padding: 20px 0;
  font-weight: bold;
  font-size: 2.5rem;
}
.container {
  color: white;
  margin: 10 auto;
  padding: 20px;
  /* border: 1px solid black; */
  /* background: #34393f;
  background: -moz-linear-gradient(top,  #34393f 0%, #16171b 100%);
  background: -webkit-linear-gradient(top,  #34393f 0%,#16171b 100%);
  background: linear-gradient(to bottom,  #34393f 0%,#16171b 100%); */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34393f', endColorstr='#16171b',GradientType=0 );
}

form, .mensajes {
  /* padding: 2rem; */
  max-width: 600px;
  margin: 0 auto;
}
.mensajes {
  text-align: center;
}
.resultado {
  border: 2px solid #00b0d7;
  padding: 3rem 0;
}
form label {
  font-size: 2rem;
}
input[type="submit"]{
  margin: 10px 0;
}
@media (min-width: 550px){
  .btn-submit{
    display: flex;
    justify-content: flex-end;
  }
  input[type="submit"]{
    width: fit-content;
  }
  .app{
    padding: 20px;
  }
  .container{
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 8px 8px 16px black,
    -8px -8px 16px var(--sombrai);   
  }
}
input[type="submit"]:disabled{
  opacity: .2;
  color: black;
}

.error {
  /* background-color: white; */
  /* border:2px solid red; */
  padding: .5rem;
  text-align: center;
  color:rgb(255, 200, 200);
  margin: 0;
}
.resultado p {
  margin: 0;
}